body {
    font-family: Microsoft YaHei;
    font-size: 14px;
    

}

a {
    width: 216px;
    height: 37px;
    color: white;
    background-color: #9f9fa3;
    display: block;
    text-decoration: none;
    padding-left: 20px;
    line-height: 37px;
}
a:hover {
    background-color: #ff6700;
}